*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
body{
    background: var(--Dark-Blue, #0D141E);
}
a{
    text-decoration: none;
}
.header__nav-logo{
    display: flex;
}
.header__logo-text{
    margin-left: 10px;
    color: #29C5F6;
}
#header{
    border-bottom: 1px solid rgba(102, 104, 106, 0.32);
}
.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__title{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero__nav-title h3{
    margin-top: 103px;
    color: var(--Blue, #29C5F6);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero__nav-title h1{
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--headline_Grad, linear-gradient(80deg, rgba(255, 255, 255, 0.72) -8.51%, #FFF 35.28%, rgba(169, 198, 215, 0.64) 101.59%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero__nav-btns{
    display: flex;
}
.hero__btn-left{
    margin-top: 32px;
    display: inline-flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--Gradient-2, #4BD4FF);
    background: var(--Style-2, radial-gradient(66.33% 66.1% at 50% 17.8%, #29C5F6 0%, #1C8ADE 100%), #29C5F6);
    box-shadow: 0px 3px 0px 0px #004E86;
    color: #FFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.54px;
}
.hero__btn-middle{
    margin-top: 32px;
    display: flex;
    height: 72px;
    padding: 24px 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;
    margin-left: 20px;
    color: #FFF;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.54px;
}
.hero__btn-right{
    display: flex;
    height: 72px;
    padding: 24px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: none;
    width: 39px;
    height: 30px;
    fill: #FFF;
}
